a {
    outline: none;
    text-decoration: none;
padding: 2px 1px 0;
}
.flex_class {
    display: flex;
    border-radius: 10px;
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-style: bold;
    text-align: right;
    text-decoration: none;
    margin-right: 10px;
    padding: 0;   
    align-items: center 
}
div {
    border-radius: 10px;
}
body {background-color: #ee82ee;}
.Main_text_class {
    
    text-align: center;
    font-size: large;
    
}
.image-radius {
border-radius: 10px; 
box-shadow: 2px 1px 5px #999999; 
height: 150px;
width: 150px;
margin-right: 2%;
text-align: right;
}
.Image_right {
    text-align: right;
}
.main_block {
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 30%;
    text-align: left;
}
.top_border {
    border-radius: 10px;
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-style: bold;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

.text_block {
display: flex;
justify-content: space-between;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
text-align: center;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
margin-left: 25%;
margin-right: 25%;
margin-top: 35px;
background-color: aquamarine;

}
.text_block  h2{
font-style: bold;
font-size: 25px;
text-decoration: underline;

}
.text_block img {
text-align: right;
width: 150px;
border-radius: 10%; 
box-shadow: 2px 1px 5px #999999;
}
.text_block ul {
list-style: none;

}
.text_block li {
    padding-bottom: 5px;
}
.drop_button {
    background-color: aquamarine;
    color: white;
    padding: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_content {
    display: none;
    position: absolute;
    
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    text-align: center;
}
.dropdown_content a {
    color: aquamarine;
    text-decoration: underline;
    display: block;
    border-radius: 10px;
   
}
.dropdown:hover .dropdown_content {
    display: block;
}